<div class="w-full h-full flex flex-col justify-start items-stretch p-8">
    @for (historico of usuarioHistorico; track $index) {
        <mat-card class="w-full p-6 bg-indigo-50 text-black mb-8">
            <mat-card-header class="mb-4">
                <mat-card-title>Login infos</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p><b>Email:</b> {{historico.email}}</p>
                <p><b>Password:</b> {{historico.password}}</p>
                
                @if (historico.nome || historico.telefone || historico.idade) {
                    <h3 style="margin-top: 8px;">
                        Informações adicionais
                    </h3>

                    @if (historico.nome) {
                        <p><b>Nome:</b> {{historico.nome}}</p>
                    }

                    @if(historico.telefone) {
                        <p><b>Telefone:</b> {{historico.telefone}}</p>
                    }

                    @if(historico.idade) {
                        <p><b>Idade:</b> {{historico.idade}}</p>
                    }
                }
            </mat-card-content>
        </mat-card>
    }
</div>
